.header {
  display: flex;
  height: auto;
  margin: 10px;
  flex-wrap: wrap;
  background: linear-gradient(
    to right,
    rgba(153, 102, 105, 0.3),
    rgb(196, 113, 237, 0.3),
    rgb(32, 149, 175, 0.3)
  );
  align-items: center;
}

.header > div {
  flex: 1 1 auto;
}

.grid {
  margin-top: calc(60px - 48px);
  height: 45px;
  text-align: center;
}
.grid::after {
  transform: translateX(-7px);
  content: "";
  width: 5px;
  height: 5px;
  cursor: pointer;
  background-color: #4e13ad;
  display: inline-block;
  box-shadow: 7px 7px 0px 0px #4e13ad, 0px 7px 0px 0px #c54062,
    7px 0px 0px 0px #c54062, 14px 0px 0px 0px #4e13ad, 0px 14px 0px 0px #4e13ad,
    14px 14px 0px 0px #4e13ad, 14px 7px 0px 0px #c54062,
    7px 14px 0px 0px #c54062;
}

.grid-size {
  min-width: 65px;
  text-align: center;
  cursor: pointer;
}

.theme-changer {
  text-align: center;
  margin-top: 8px;
}

.theme-changer > img {
  width: 40px;
  transition: all 350ms ease-in;
}

div.title {
  flex: 4 1 auto;
}

.title > h3 {
  float: right;
  font-family: "Zen Tokyo Zoo", cursive;
  font-size: 41px;
  margin: 0;
  font-weight: 500;
  padding-right: 10px;
}

.user-icon {
  width: 25px;
  height: 25px;
  margin-top: 16px;
}

.button-wrapper {
  display: inline-block;
  margin: 10px;
  margin-left: 0px;
  text-align: left;
}

.button-wrapper > button {
  font-family: "Quicksand", sans-serif;
  position: relative;
  border: none;
  background: 0;
}

.button-wrapper > .left-active-btn {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  border: 2px solid brown;
  transition: 350ms ease-in;
}

.button-wrapper > .right-dormant-btn {
  font-family: "Quicksand", sans-serif;
  position: relative;
  border: none;
  background: 0;
  font-weight: bolder;
  cursor: pointer;
  font-size: 16px;
}

/* @keyframes solverToGenerator {
  from {
    left: calc(1%);
  }
  to {
    left: calc(80%);
  }
}

@keyframes generatorToSolver {
  from {
    right: calc(1%);
  }
  to {
    right: calc(70%);
  }
}

@keyframes revertGenerator {
  from {
    right: calc(70%);
  }
  to {
    right: calc(1%);
  }
}

@keyframes revertSolver {
  from {
    left: calc(80%);
  }
  to {
    left: calc(1%);
  }
}

.solverToGenerator {
  animation-name: solverToGenerator;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.47, 1.56);
  left: calc(80%);
}

.generatorToSolver {
  animation-name: generatorToSolver;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.47, 1.56);
  right: calc(70%);
}

.solverRevert {
  animation-name: revertSolver;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.47, 1.56);
  left: calc(1%);
}

.generatorRevert {
  animation-name: revertGenerator;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.47, 1.56);
  right: calc(1%);
} */

.grid-selection {
  position: absolute;
  background: aliceblue;
  width: 185px;
  height: 90px;
  display: none;
  z-index: 1;
  transition: all 350ms ease-in;
  transform: translateX(-70px);
}

.grid-selection:hover {
  display: block;
  box-shadow: 20px 20px 0px #c54062;
  transition: all 350ms ease-in;
}

.grid:hover + .grid-selection {
  display: block;
}

.basic-grid {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #b13b5f;
  position: absolute;
  left: calc(100% - 50px);
  top: 30px;
  box-shadow: 15px 0px 0px 0px #ea5e66, 0px 15px 0px 0px #ea5e66,
    15px 15px 0px 0px #ea5e66;
}
.advanced-grid {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #b13b5f;
  position: absolute;
  right: calc(100% - 50px);
  top: 30px;
  box-shadow: 10px 0px 0px 0px #ea5e66, 0px 10px 0px 0px #ea5e66,
    0px 15px 0px 0px #ea5e66, 15px 0px 0px 0px #ea5e66,
    15px 15px 0px 0px #ea5e66;
}

.advanced-grid::before {
  content: "Basic";
  top: 29px;
  position: relative;
  left: -2px;
  font-size: 12px;
}

.basic-grid::before {
  content: "Advanced";
  top: 29px;
  position: relative;
  left: -13px;
  font-size: 12px;
}

.basic-grid-overlay {
  position: absolute;
  z-index: 999;
  width: 100px;
  height: 100px;
}

.advanced-grid-overlay {
  position: absolute;
  z-index: 999;
  width: 100px;
  height: 100px;
  right: 0;
}

.moon {
  width: 30px !important;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .header > .title {
    flex-basis: 50%;
  }

  .header > .button-wrapper {
    flex-basis: 45%;
  }

  .grid-selection {
    transform: translateX(0px);
  }
}

@media screen and (max-width: 438px) {
  .title > h3 {
    float: none;
  }
}
