.route_wrapper {
  height: fit-content;
  margin: 12px;
  overflow: auto;
  padding: 12px;
  background: linear-gradient(
    to right,
    rgba(153, 102, 105, 0.3),
    rgb(196, 113, 237, 0.3),
    rgb(32, 149, 175, 0.3)
  );
  padding-bottom: 30px;
}
