input {
  width: 15px;
  height: 15px;
  text-align: center;
}

.sudoku-area {
  display: flex;
  justify-content: space-evenly;
}

.sudoku-area > .vertical-line {
  width: 1px;
  height: inherit;
  background: black;
}

.buttons-wrapper {
  font-size: 12px;
  position: relative;
}

.fill-next::after {
  content: "fill next";
  position: absolute;
  width: 70px;
}
